@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden; /* Ensures no scrollbars appear */
}
#background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Places it behind other content */
  overflow: hidden;
}

.circle {
  position: absolute;
  background-color: rgba(0, 123, 255, 0.5); /* Blueish color */
  border-radius: 50%;
  animation: move 10s infinite ease-in-out;
  pointer-events: none; /* Prevents interactions */
}

@keyframes move {
  0% {
    transform: translateY(0) translateX(0) scale(0.5);
    opacity: 1;
  }
  50% {
    transform: translateY(-50vh) translateX(50vw) scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: translateY(100vh) translateX(-50vw) scale(0.5);
    opacity: 0;
  }
}


section,
footer {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px; 
}

.header {
  font-size: 22px;
  background-color: rgb(222, 229, 241);
  display: block;
  text-align: center;
  width: 100%;
  height: 350px;
  padding-top: 160px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #1f2729e9;
  padding: px; /* Adjusted padding for consistency */
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.name {
  margin-right: auto;
}

.navs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: #f8f8f8;
}
.nav-toggle {
  display: none;
}

#hey {
  color: #0650fd;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #e71717; /* Cursor effect */
  width: fit-content;
  margin: auto;
  animation: typing 1.2s steps(10, end), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: fit-content;
  }
}

@keyframes blink {
  from {
    border-right-color: #0650fd;
  }
  to {
    border-right-color: transparent;
  }
}

/* Media Query for Small Screens */
@media (max-width: 600px) {
  .navs {
    display: none; /* Hide regular navigation links on small screens */
    flex-direction: column; /* Stack the links vertically */
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    transition: right 0.3s;
    width: 100%;
    color: black;
  }

  .navs.show {
    display: flex;
    right: 0; /* Show links when the class "show" is added */
  }

  .navs li {
    text-align: center;
    margin: 10px 0;
  }

  .nav-toggle {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: rgb(251, 246, 246);
    padding-right: 20px;
  }
}
.job-title {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Add hover effect to demonstrate changing the job title on mouseover */
.job-title:hover {
  opacity: 1;
}
.close-btn {
  display: none; /* Initially hide the close button */
  cursor: pointer;
  font-size: 20px;
  color: #010101;
  background-color: #007bff;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.show-close-btn .close-btn {
  display: inline-block; /* Show the close button when the show-close-btn class is applied */
}

#about {
  background-color: #f9f9f9;
  padding: 40px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 12px;
}

#about h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

#about p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

#about ul {
  list-style-type: none;
  padding-left: 120px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  #about ul {
    padding-left: 60px;
  }
}

#about li {
  flex: 1 1 100%; /* Adjusted flex property to take full width */
  box-sizing: border-box;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#about li strong {
  display: inline-block;
  width: 120px; /* Adjusted width for better alignment */
  font-weight: bold;
  margin-right: 10px;
}
.download-button {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #288af3;
  border-radius: 7px;
  transition: background-color 0.3s ease;
}
.download-button:hover {
  background-color: #0758af;
}
#Education {
  background-color: #f8f8f8;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#Education h2 {
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
}

#Education p {
  color: #555;
  font-size: 18px;
  margin: 5px 0;
}

#Education h3 {
  color: #007bff;
  font-size: 24px;
  margin-top: 10px;
}
#Education:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

#skills {
  text-align: center;
  width:60%
}
#skills h2{
  font-size: 36px;
}

.web-dev-skills, .ml-skills {
  margin: 2px 0px;
  overflow: hidden;
}

.scrolling-text {
  white-space: nowrap;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
}

.web-dev-skills .scrolling-text {
  animation: scrollLeftToRight  linear infinite;
}

.ml-skills .scrolling-text {
  animation: scrollRightToLeft  ease infinite;
}

@keyframes scrollLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes scrollRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


#projects {
  text-align: center;
}

.project {
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
  font-size: 24px;
  color: #333;
}

.project-description {
  font-size: 18px;
  color: #666;
  margin-bottom: 15px;
}

.project-details {
  font-size: 16px;
  color: #444;
  margin-bottom: 15px;
}

.project-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.project-link:hover {
  background-color: #0056b3;
}


#contact {
  display: grid;
  background-color: #f9f9f9;
  padding: 60px 20px;
  text-align: center;
  width: 80%;
}

#contact h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

#contact p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

#contact ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

#contact li {
  font-size: 16px;
  color: #444;
  margin-bottom: 15px;
  text-align: inherit;
}

#contact li a {
  color: #007bff;
  text-decoration: none;
}

#contact form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto; /* Center the form horizontally */
}

#contact label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #555;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#contact button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contact button:hover {
  background-color: #0056b3;
}

footer {
  margin-top: 50px;
}
